@import 'variables';

$fa-font-path: "../../bower_components/font-awesome/fonts";
@import "../../../bower_components/font-awesome/scss/font-awesome.scss";
/****************************************
  Reset
*****************************************/
html {
  color: #777;
}

* {
  box-sizing: border-box;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100%;
}

img {
  border: 0;
}

a:focus, a:active, a:hover, button:focus {
  outline: 0;
  text-decoration: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

/****************************************
DEFAULTS
*****************************************/
body {
  font-family: 'Robotos', sans-serif;
  font-size: 16pt;

}

button {
  background-color: $primary-light;
  border: none;
  color: $white;
  padding: 10px;
}

button:hover {
  background-color: $primary-background;
  color: $white;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  font-size: 56pt;
}

h2 {
  font-size: 32pt;
}

@media (max-width: 960px) {
  h2 {
    font-size: 14;
  }
}

h3 {
  font-size: 22pt;
}

@media (max-width: 960px) {
  h3 {
    font-size: 16pt;
  }
}

a {
  text-decoration: none;
}

.fa {
  padding: 20px;
  font-size: 28pt;
}


hr {
  border: 1px dashed #aaa;
}

section {
  padding: 100px 0;
}

@media (max-width: 960px) {
  section {
    padding: 100px 50px;
  }
}

@media (max-width: 850px) {
  section {
    padding: 50px 0;
  }
}

figure {
  margin: 0;
}

label {
  font-weight: bold;
}

input {
  width: 300px;
  border: 1px solid #aaa;
  padding: 5px;
}

.errorMessage {
  color: red;
  font-size: .85em;
  text-align: left;
}



/////////////


.modalfooter {
  text-align: right;
}
