
footer {
  padding-top: 15px;
  background: #2C3E50;
  font-family: 'SOG-Montserrat', sans-serif;
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
  color: #60a0ae;
  overflow: hidden;
}

footer .fa {
  font-size: 34pt;
}

@media (max-width: 720px) {
  footer .fa {
    font-size: 24pt;
  }
}

@media (max-width: 620px) {
  footer .fa {
    font-size: 48pt;
    text-align: center;
  }
}

@media (max-width: 720px) {
  footer {
    font-size: .9em;
  }
}

footer span {
  float: right;
  padding: 20px;
}

@media (max-width: 620px) {
  footer span {
    font-size: .9em;
    text-align: center;
  }
}
