.header {
  position: fixed;
  width: 100%;
  z-index: 1000;
  background: #2C3E50;
  color: #fff;
}

@media (max-width: 625px) {
  .header {
    position: relative;
    overflow: hidden;
    background: rgba(10, 33, 38, 0.9);
    border-top: #305A63 1px solid;
  }
}

.header nav {
  display: inline;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  float: right;
}

@media (max-width: 800px) {
  .header nav {
    font-size: .7em;
  }
}

@media (max-width: 625px) {
  .header nav {
    float: left;
    margin-top: 50px;
    width: 100%;
  }
}

.header nav a {
  display: block;
  border-right: 1px solid #000;
  border-left: #305A63 1px solid;
  padding: 20px;
  float: right;
  text-decoration: none;
}

@media (max-width: 625px) {
  .header nav a {
    float: left;
    width: 100%;
    font-size: 14pt;
  }
}

.header nav a .fa {
  font-size: 14pt;
  padding: 0 5px 0 0;
}

.header nav a .fa :before {
  border-left: blue;
}

.header nav a:hover {
  background-color: #7DE0B0;
  color: rgba(10, 33, 38, 0.9);
}

.logo {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 26pt;
  padding: 10px 10px 10px 40px;
}

@media (max-width: 675px) {
  .logo {
    font-size: 20pt;
    padding: 10px 10px 10px 20px;
  }
}
