.header {
  position: fixed;
  width: 100%;
  z-index: 1000;
  background: #2C3E50;

  a {
    color: #fff !important;
    text-decoration: none;
  }

  .logo {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 26pt;
    padding: 10px 10px 10px 40px;
  }

  nav {
    display: inline;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    float: right;

    a .fa {
      font-size: 14pt;
      padding: 0 5px 0 0;
    }

    a .fa :before {
      border-left: blue;
    }

    a:hover {
      background-color: #7DE0B0;
      color: rgba(10, 33, 38, 0.9);
    }

    a {
      display: block;
      border-right: 1px solid #000;
      border-left: #305A63 1px solid;
      padding: 20px;
      float: right;
      text-decoration: none;
    }
  }

  @media (max-width: 800px) {
    nav {
      font-size: .7em;
    }
  }

  @media (max-width: 625px) {
    position: relative;
    overflow: hidden;
    background: rgba(10, 33, 38, 0.9);
    border-top: #305A63 1px solid;

    nav {
      float: left;
      margin-top: 50px;
      width: 100%;

      a {
        float: left;
        width: 100%;
        font-size: 14pt;
      }
    }

    .logo {
      font-size: 20pt;
      padding: 10px 10px 10px 20px;
    }
  }

}

