.signUpForm {
  color: black;
  
  label {
    color: #000;
  }

  h1 {
    text-align: center;
  }
  
  .hero {
    background-image: url('../../../assets/images/page-portfolio-disaster-response.jpg');
    background-size: cover;
    height: 650px;
  }
  .hero:after {
    background-color: darken($secondary-background, 80);

  }

  .formContainer {
  }
  
  .form {
    border: solid 1px #000;
    background-color: #fff;
    width: 60%;
    margin: auto;
    margin-top: -30%;
    margin-bottom: 20%;
    padding: 40px;

    form, .adminInfo {
      margin-top: 35px;
    }

    h3 {
      text-decoration: underline;
    }

    .component {
      width: 45%;
      float: left;
    }

    .row {
      margin: 10px 0;
    }
    .component + .component {
      float: right;
    }

    .signUpBtn {
      margin: 20px 0 0 500px;
    }
  }
}
