<div class="org">
    <div class="hero">

        <div class="row">
            <div class="form">
                <header>
                    <h2 class="title">Organization Information</h2>
                    <h2 class="link"><a ng-click="ctrl.editOrgInfo()">Edit</a></h2>
                </header>
                <hr>
                <div class="orgForm">
                    <div class="orgInfo">
                        <div class="context"> Organization Name:</div>
                        <div> name</div>
                    </div>
                    <div class="orgInfo">
                        <div class="context">Contact:</div>
                        <div>  First Last Name </div>
                    </div>
                    <div class="orgInfo">
                        <div class="context">Phone:</div>
                        <div>123-123-1234</div>
                    </div>
                    <div class="orgInfo">
                        <div class="context">Email: </div>
                        <div> email@me.com </div>
                    </div>
                    <div class="orgInfo missionStatement">
                        <div class="context">Mission Statement: </div>
                        <div><textarea> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium alias aperiam, consectetur dolor error minus molestiae perspiciatis praesentium quas soluta veniam voluptatibus! Autem culpa fugiat impedit molestiae optio? Adipisci. </textarea></div>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="orgEvents">
            <header>
                <div class="title">
                    <i class="fa fa-arrow-circle-left"></i>
                    <h2>June 2016</h2>
                    <i class="fa fa-arrow-circle-right"></i>
                </div>
                <div class="link">
                    <a ng-click="ctrl.addEvent()"><span>Add</span><i class="fa fa-plus" aria-hidden="true"></i></a>
                </div>
            </header>
            <af-event-component></af-event-component>
        </div>
    </div>
</div>
