<div class="org">
    <div class="hero">

        <div class="row">
            <div class="form">
                <header>
                    <h2 class="title">Organization Information</h2>
                    <h2 class="link"><a ng-click="ctrl.editOrgInfo(ctrl.org)">Edit</a></h2>
                </header>
                <hr>
                <div class="orgForm">
                    <div class="orgInfo">
                        <div class="context"> Organization Name:</div>
                        <div> {{ctrl.org.orgName}}</div>
                    </div>
                    <div class="orgInfo">
                        <div class="context">Contact:</div>
                        <div> {{ctrl.org.firstName}} {{ctrl.org.lastName}} </div>
                    </div>
                    <div class="orgInfo">
                        <div class="context">Phone:</div>
                        <div>{{ctrl.org.phone}}</div>
                    </div>
                    <div class="orgInfo">
                        <div class="context">Email: </div>
                        <div> {{ctrl.org.email}} </div>
                    </div>
                    <div class="orgInfo missionStatement">
                        <div class="context">Mission Statement: </div>
                        <div class="textarea">{{ctrl.org.mission}}</div>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="orgEvents">
            <header>
                <div class="title">
                    <i class="fa fa-arrow-circle-left"></i>
                    <h2>June 2016</h2>
                    <i class="fa fa-arrow-circle-right"></i>
                </div>
                <div class="link">
                    <a ng-click="ctrl.addEvent()"><span>Add</span><i class="fa fa-plus" aria-hidden="true"></i></a>
                </div>
            </header>
            <!--<af-event-component events="{{ctrl.events}}"></af-event-component>-->
            <div class="eventComponent">
                <div ng-show="events.length <= 0"> No events in your area</div>

                <div ng-hide="events.length <=0" href="/#/event" ng-repeat="event in ctrl.events track by $index">
                    <div class="entry" data-event-id="{{ event.event.$id }}">
                        <div class='date'>
                            <h5>{{ event.eventDate | date:'MMM' }}</h5>
                            <h3>{{ event.eventDate | date:'dd' }}</h3>
                            <h5 class="day">{{ event.eventDate | date:'EEE' }}</h5>
                        </div>
                        <div class="info">
                            <a href="/#/event"><h3> {{ event.eventName }}</h3></a>
                            <span>{{ event.eventStartTime | date:'h:mm ' }}</span>
                            <span>{{ event.eventEndTime }}</span>
                            <div class="shortDescription">
                                {{ event.eventDescription }}
                            </div>
                            <!--<i ng-show="0" class="fa fa-arrow-circle-right"></i>-->
                            <i class="fa fa-remove" ng-click="ctrl.remove(event.$id)"></i>
                            <i class="fa fa-pencil" ng-click="ctrl.addEvent(event)"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
