.login {
  .hero {
    background-color: $secondary-background;
    background-image: url('../../../assets/images/storm1.png');
    background-size: cover;
    height: 900px;
    width: 100%;

    section {
      padding: 100px 0 40px 0;

    }

    h1 {
      color: $white;
      text-align: center;
    }

    form {
      position: relative;
      height: 330px;

      h3 {
        margin-left: 15px;
      }
      button {
        position: absolute;
        bottom: 0;
      }
    }

    .row {
      margin: 20px 0 0 15px;
    }

    .outsideModal {
      border: 1px solid #000;
      margin: auto;
      overflow: hidden;
      width: 960px;

      @media (max-width: 1024px) {
        width: 850px;
        margin-top: -60%;
      }

      @media (max-width: 850px) {
        margin-top: -75%;
        width: 650px;
      }

      @media (max-width: 750px) {
        width: 400px;
      }
    }

    @media (max-width: 750px) {
      .panel .userInfo {
        margin-top: 200px;
        padding: 20px;
      }
    }
  }
}

@media (max-width: 625px) {
  .outsideModal {
    padding: 0px;
    transform: translateY(0px);
    overflow: hidden;
  }
}

.outsideModal > div {
  background-color: #fff;
  overflow: hidden;
  padding: 60px;
}

@media (max-width: 750px) {
  .outsideModal > div {
    padding: 0px;
  }
}

.outsideModal form {
  width: 55%;
  float: left;
  border-right: 1px dashed #aaa;
}

.outsideModal form .error {
  float: left;
  color: red;
}

@media (max-width: 850px) {
  .outsideModal form {
    width: 100%;
    border-right: 0;
  }
}

@media (max-width: 750px) {
  .outsideModal form {
    padding: 40px;
  }
}

.outsideModal form h3 {
  margin-bottom: 1px;
}

.outsideModal form p {
  margin: 0 0 20px 0;
}

.outsideModal form button {
  margin: 20px 20px 20px 0;
}

.outsideModal form input {
  width: 300px;
}

.outsideModal .insideModal .formHeader {
  display: inline;
  margin: auto;
  text-align: center;
}

.outsideModal .insideModal .formHeader h3 {
  padding-bottom: 20px;
}

.outsideModal .insideModal form {
  width: 40%;
  float: none;
  border: none;
  margin: auto;
}

.outsideModal .insideModal form span a {
  color: blue;
  text-decoration: underline;
}

.outsideModal .insideModal form > div:nth-child(even) {
  margin-top: 20px;
}

.newProfile {
  position: relative;
  height: 330px;
  margin-left: 60%;
  width: 40%;

  p {
    font-size: .9em;
    margin-top: 20px;
  }

  button {
    position: absolute;
    bottom: 0;
  }

  @media (max-width: 850px) {
    margin: auto;
    padding: 350px 0 75px 0;
  }

  @media (max-width: 750px) {
    width: 80%;
  }
}

