.eventComponent {
  background-color: $primary-light;
  color: #000;
  padding: 20px 0;
  width: 100%;
  
  
  .entry {
    border: solid 1px #000;
    background-color: $white;
    color: #000;
    margin: 10px 0;
    
    &:hover {
      background-color: $primary-background;
      color: $white;
    }
  }
  
  .fa-arrow-circle-right {
    color: $accent-color;
  }

  .date {
    padding: 20px;
    float: left;
    clear: left;
    display: inline-block;
    width: 15%;
    text-align: center;
  }

  .date .fa {
    padding: 0;
  }

  .info {
    margin-left: 15%;
    width: 85%;
    min-height: 125px;
    position: relative;
    padding: 20px 30px;
    border-left: 2px dashed #aaa;

    .shortDescription {
      padding-top: 10px;
      width: 83%;
    }

    h3 {
      width: 50%;
      padding-right: 20px;
      display: inline-block;
      border-right: 1px dashed #aaa;

      @media (max-width: 750px) {
        width: 100%;
        padding-right: 0;
        border-right: none;
      }

    }

    span {
      padding-left: 20px;
      font-size: 18pt;

      @media (max-width: 750px) {
          padding-left: 0;
          display: inline;
      }
    }

    .fa {
      color: $primary-light;
      font-size: 1.3em;
      position: absolute;
      right: 0;
      top: 0;


      &:active {
        border: none;
      }

      & + .fa {
        position: absolute;
        right: 35px;
      }
      @media (max-width: 750px) {
        display: none;
      }
    }
  }
}
