<div class="eventComponent">
    <div ng-show="events.length <= 0"> No events in your area </div>

    <!--<a ng-hide="events.length <=0" href="/#/event/{{ event.event_id }}" ng-repeat="event in events | orderBy:sortOrder">-->
    <a ng-hide="events.length <=0" href="/#/event" ng-repeat="event in events | orderBy:sortOrder">
        <div class="entry" data-event-id="{{ event.event_id }}">
            <div class='date'>
                <h5>{{ event.date | date:'MMM' }}</h5>
                <h3>{{ event.date | date:'dd' }}</h3>
                <h5 class="day">{{ event.date | date:'EEE' }}</h5>
            </div>
            <div class="info">
                <h3> {{ event.event_name }}</h3>
                <span>{{ event.start_time | date:'h:mm a' }}</span>
                <span>{{ event.end_time | date:'shortTime'  }}</span>
                <div class="shortDescription">
                    {{ event.description }}
                </div>
                <i class="fa fa-arrow-circle-right"></i>
            </div>
        </div>
    </a>
</div>
