.homePage {

  .hero {
    background-image: url('../../../assets/images/storm2.jpg');
    background-size: cover;
    height: 1000px;
    width: 100%;
    margin-left: 0px;
  }

  form > div {
    margin: auto;
    width: 300px;
  }

  input {
    margin: auto;
    margin-top: 300px;
  }
}
