.about-us {
  background-color: #f1f1f1;

  .hero {
    background-image: url('../../../assets/images/landscape1.png');
    background-repeat: no-repeat;
    background-size: cover;
    color:$white;
    height: 700px;
    text-align: center;
    width: 100%;
    
    h1 {
      margin-top: 100px;
    }
  }

  .flexContainer {
    display: flex;
    justify-content: space-around;

    .flexItem {
      background-color: blue;
      color: #fff;
      width: 100px;
    }
  }
  
  
  .aboutUsContainer {
  //  display: flex;
  //  justify-content: space-around;
  //
  //  .aboutUsItem {
  //    flex: 0 0 0;
  //
      h3 {
        padding: 4%;
      }

      img {
        border-radius: 100%;
        height: 300px;
        width: 300px;
      }
    }
  //}

  .featuredEvent {

    .featuredOrg {
      padding: 5%;
      text-align: center;

      img {
        width: 75%;
      }
    }

    .featuredMap {
      padding-right: 5%;

      img {
        width: 100%;
      }

      h2 {
        padding-bottom: 3%;
      }

      figcaption {

        h3 {
          padding: 2% 0;
        }
      }
    }

  }

  #eventSection {
    padding: 0 5% 0;

    h2 {
      padding-top: 90px;
    }
  }

  #eventsSection {
  }

  .eventContainer {
    background-color: $secondary-background;

    .eventItems {
      .eventItem{
        img {
          height: auto;

          @media (min-width: 420px) {
            height: 150px;
            width: 100%;
          }
        }

        h3 {
          margin: 6% 0;
        }
      }
    }
  }
}




