.modal-body {

  .line {
    margin: 20px 0;
  }

  .orgForm {
    textarea {
      height: 300px;
      width: 100%;
    }
  }

  
  .eventForm {
    height: 700px;
    
    .services {
      border-top: 1px solid #aaa;
      padding-top: 10px;
      input {
        width: 10px;
      }
    }
  }
}
